.header {
  width: 100%;
  background-color: #FFF;
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid var(--light-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &_wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }

  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.courses_logo {
  width: 80px;
  height: 80px;
}
