.course_card {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  border: 2px solid var(--light-color);
  padding: 20px;
  margin-bottom: 20px;
}

.content_left{
  width: 65%;
}

.content_right {
  width: 30%;
}

