<div class="auth_block">
  <form class="form" #form="ngForm" (ngSubmit)="submit()">
    <div class="form_content">
      <span class="form_title">Login</span>
      <div class="input_field">
        <label for="email">Email</label>
        <input class="input"
          id="email"
          type="email"
          #email="ngModel"
          [(ngModel)]="user.email"
          [ngModelOptions]="{standalone: true}"
          required
          [class.invalid]="email.invalid
          && email.touched"
        >
        <span class="invalid_text"
        *ngIf="email.errors?.['required']">
          Email is required.
        </span>
      </div>
      <div class="input_field">
        <label for="password">Password</label>
        <input class="input"
          id="password"
          type="password"
          #password="ngModel"
          [(ngModel)]="user.password"
          [ngModelOptions]="{standalone: true}"
          required
          [class.invalid]="password.invalid
          && password.touched"
        >
        <span class="invalid_text"
        *ngIf="password.errors?.['required']">
          Email is required.
        </span>
      </div>
    </div>
    <div class="form_submit">
      <app-button
        [btnClass]="'btn_success'"
        [buttonText]="'Login'"
        [type]="'submit'"
        [disabled]="!form.valid"
      ></app-button>
      <div class="register_link">
        If You don't have an account You can <a routerLink="/registration">Registration</a>
      </div>
    </div>
  </form>
</div>


