<div class="auth_block">
  <form class="form" #form="ngForm" (ngSubmit)="submit(form)">
    <div class="form_content">
      <span class="form_title">Login</span>
      <div class="input_field">
        <label>Email</label>
        <input class="input"
          name="email"
          type="email"
          #email="ngModel"
          ngModel
          pattern="[^ @]*@[^ @]*"
          required
          [class.invalid]="email.invalid
          && email.touched"
        >
        <span class="invalid_text"
        *ngIf="email.errors?.['required']">
          Email is required.
        </span>
        <span class="invalid_text"
        *ngIf="email.errors?.['pattern']">
          Email is not valid.
        </span>
      </div>
      <div class="input_field">
        <label>Password</label>
        <input class="input"
          name="password"
          type="password"
          #password="ngModel"
          ngModel
          minlength="6"
          required
          [class.invalid]="password.invalid
          && password.touched"
        >
        <span class="invalid_text"
        *ngIf="password.errors?.['required']">
          Email is required.
        </span>
        <span class="invalid_text"
        *ngIf="password.errors?.['minlength']">
          Password must be at least 6 characters long.
        </span>
      </div>
    </div>
    <div class="form_submit">
      <app-button
        [btnClass]="'btn_success'"
        [buttonText]="'Login'"
        [type]="'submit'"
        [disabled]="!form.valid"
      ></app-button>
      <div class="register_link">
        If You don't have an account You can <a routerLink="/registration">Registration</a>
      </div>
    </div>
  </form>
</div>


