<div class="container">
  <app-header>
    <strong class="username">{{ username$ | async }}</strong>
    <app-button [buttonText]="'Logout'" [type]="'button'" (click)="logout()"></app-button>
  </app-header>

  <app-course-list  *ngIf="!isInfo"
    (delete)="openRemoveModal($event)"
    (edit)="openEditForm($event)"
    (show)="showCourse($event)"
    [courses]="courses"
    [isEdit]="isAdmin"
  >
  </app-course-list>


  <app-info *ngIf="isInfo"
    [title]="'Your list is empty'"
    [text]="'Please use the button \'Add new course\' to add your first course'"
  >
    <app-button [buttonText]="'Add new course'" [type]="'button'" (click)="addCourse()"></app-button>
  </app-info>

</div>

<router-outlet></router-outlet>

<app-modal
  [modalOpen]="isConfirmModalOpen"
  (confirm)="confirmRemoveCourse($event)"
  [title]="'Confirm request please'"
  [message]="modalMessage"
>
</app-modal>






