<div class="container" *ngIf="!isLogin && !isRegistration">
  <app-header>
    <strong class="username">{{ username }}</strong>
    <app-button [buttonText]="logButtonText" [type]="'button'" (click)="logOut()"></app-button>
  </app-header>

  <app-course-list *ngIf="!isInfo && !isCourseFormOpen"
    (delete)="openRemoveModal($event)"
    (edit)="editCourse($event)"
    (show)="showCourse($event)"
    [courses]="courses$"
  >
    <app-search [placeholder]="'Search course'">
      <app-button [buttonText]="'Search'" [type]="'button'"></app-button>
    </app-search>
  </app-course-list>

  <app-info
    *ngIf="isInfo"
    [title]="infoTitle"
    [text]="infoText"
  >
    <app-button [buttonText]="addButtonText" [type]="'button'" (click)="addCourse()"></app-button>
  </app-info>

  <app-course-form *ngIf="isCourseFormOpen" (submitCourse)="submit($event)"></app-course-form>
</div>

<app-modal
  [modalOpen]="isConfirmModalOpen"
  (confirm)="confirmRemoveCourse($event)"
  [title]="modalTitle"
  [message]="modalMessage"
>
</app-modal>

<app-login
  *ngIf="isLogin"
  [(isLogin)]="isLogin"
  (isRegistration)="isRegistration"
></app-login>





